body {
    margin-left: 15%;margin-right: 15%;margin-top: 5%;margin-bottom: 5%;
    background-color:rgb(32, 34, 37);
    text-align: left;
    font-family: Arial;
    font-size: medium;
    color: white;
    line-height: 1,5;
}

a:link              { color: yellow; }
a:visited           { color: yellowgreen; }
a:hover             { color: white; }
a:active            { color: white; }
