body {
    margin-left: 20%;margin-right: 20%;margin-top: 5%;margin-bottom: 5%;
    background-color:rgb(32, 34, 37);
    text-align: left;
    font-family: Arial;
    color: white;
    line-height: 2;
}

a:link              { color: yellow; }
a:visited           { color: yellowgreen; }
a:hover             { color: white; }
a:active            { color: white; }

